.ml-1{
	margin-left:0.25rem!important
}
.ml-2{
	margin-left:.5rem!important
}
.ml-3{
	margin-left:1rem!important
}
.ml-4{
	margin-left:1.5rem!important
}
.ml-5{
	margin-left:3rem!important
}
.w-33{
	width:33%!important
}